name: Publish

on: workflow_dispatch

env:
  node: 16

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ env.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.node }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Set git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"

      - name: Release
        if: github.ref == 'refs/heads/main'
        uses: ./.github/actions/release
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
